<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cadastro de clientes</title>
<script th:src="@{/js/cadastro.js}"></script>

<link rel="stylesheet" th:href="@{/css/cadastro.css}">

</head>
<body>
<h1>Cadastro de clientes</h1>

<form method="post" action="" onsubmit="return validarForm();">
	<p>
		<label for="nome">Nome:</label>
		<input type="text" id="nome" name="nome" th:value="${cliente.nome}">
		<span class="error oculto">Este campo é obrigatório.</span>
	</p>

	<p>	
		<label for="email">Email:</label>
		<input type="email" id="email" name="email" th:value="${cliente.email}">
		<span class="error oculto">Este campo é obrigatório.</span>
	</p>
	
	<p>
		<label for="usuario">Usuário:</label>
		<input type="text" id="usuario" name="usuario" required th:value="${cliente.usuario.username}">
	</p>		

	<p>
		<label for="senha">Senha:</label>
		<input type="password" id="senha" name="senha" required>
	</p>		
	
	<button type="submit">Salvar</button>	

</form>

<p>
	<a href="#" th:href="@{/home}">Home</a>
</p>

</body>
</html>