<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Clientes</title>
<style type="text/css">
	table, tr, td, th {
		border: solid 1px;
		border-collapse: collapse;
	}
	
	td, th {
		padding: 0.25ex 1ex 0.25ex 1ex;
	}
</style>
</head>
<body>

<h1>Clientes</h1>

<table>
	<tr>
		<th>Nome</th>
		<th>Email</th>
		<th>Usuário</th>
	</tr>
	<tr th:each="c : ${clientes}">
		<td th:text="${c.nome}"></td>
		<td th:text="${c.email}"></td>
		<td th:text="${c.usuario.username}"></td>
	</tr>
</table>

<p>
	<a href="#" th:href="@{/home}">Home</a>
</p>

</body>
</html>



